.ipynb_checkpoints/
after_co.csv
after_co_ugids.csv
after_wl.csv
after_wl_ugids.csv
before_co.csv
before_co_ugids.csv
before_wl.csv
before_wl_ugids.csv
test_co.csv
test_co_ugids.csv
test_wl.csv
test_wl_ugids.csv
combined.csv
readme.docx
.idea
__pycache__